* {
    box-sizing: border-box;
}

/* General Html Stuff ------------------------------------------------  */

body {
    --bg: #ffffff;
    --fg: #323232;

    background-color: var(--bg);
    color: var(--altfg);

    max-width: 70ch;
    margin: auto;
    padding: 1em ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    color: var(--fg);
}

nav {
    position: sticky;
    top: 0;
    height:3.5em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg);
}

nav > a {
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
    font-size: 1.5em ;
    font-weight: bold;
}

/* journal stuff ------------------------------------------------  */

.nav-btns {
    display: flex;
    gap: 1em;
    align-items: center;
}
.list-group {
    display: grid;
    grid-gap: 2em;
}

.entry-time {
    color: var(--altaccent);
}
.input-area {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;
    padding: 1em 0;

}
button {
    cursor: pointer;

    border: none;
    border-radius: 1ch;

    padding: 1ch 3ch;
    font: inherit;
}
textarea {
    appearance: none;
    outline: none;

    border: 1px solid transparent;
    border-radius: 1ch;
    background-color: var(--altbg);
    color: var(--fg);
    font: inherit;

    resize: none;
    height: 18ch; 
    padding: 1em;
}

textarea:focus {
    background-color: transparent; 
    border-color: var(--border);
}

.input-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-help { 
    font-weight: bold;
    color: 1px solid var(--altfg);
    background-color: var(--bg);
}


.btn-add, .btn-modal {

    background-color: var(--accent);
    color: #ffffff;
    transition: transform 0.1s ease;
}
.btn-add:hover, .btn-modal:hover{
    transform: scale(1.05);
}

.modal{
    display: block;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #000000ba;
       
    display: grid;
    place-content: center;
}

.modal-content {
    background-color: var(--bg);
    padding: 2em;
    border-radius: 1ch;
    display: grid;
    grid-gap: 1em;

    max-width: 50ch;
}
